<<<<<<< HEAD
.logo {
    background-image: url("../Twin\ Peaks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 50px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 0 0 3px rgb(36, 36, 35);
    color: aliceblue;
}
=======
/* Container beállítások */
#container {
    display: flex;
    flex-wrap: wrap; /* Ez biztosítja, hogy a kártyák több sorra törhessenek */
    gap: 16px; /* Kis távolság a kártyák között */
    padding: 16px; /* Párnázás a container körül */
}

/* Card stílusok */
.card {
    background-color: #f0f0f0; /* Világos háttérszín */
    padding: 20px; /* Kártyán belüli tér */
    border-radius: 8px; /* Lekerekített sarkok */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Árnyék a kártyák körül */
    width: calc(33% - 16px); /* Kártyák szélessége, 3 oszlopban */
    box-sizing: border-box; /* Biztosítja, hogy a padding ne számítson bele a szélességbe */
    text-align: center; /* Középre igazított szöveg */
}


@media (max-width: 768px) {
    .card {
        width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
>>>>>>> 909c01434db069f8d1d8d29d241e28fcab0a3fb8
